{% extends 'base/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row mt-5">
  <div class="card">
    <h5 class="card-header">Фильтр</h5>
    <div class="card-body">
      <h5 class="card-title">Выбирайте то, что Вам по вкусу!</h5>
      <a href="{% url 'top' %}" class="btn btn-danger">Хиты продаж</a>
      <br><br>
      <form action = "" method="POST">
        {% csrf_token %}
        <div class="form-check">
          <input class="form-check-input" type="radio" id="chicken" value="chicken" name="list_of_types" style="background-color: #f7b585;">
          <label class="form-check-label" for="chicken">
            С курицей
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" id="beef" value="beef" name="list_of_types" style="background-color: #f7b585;">
          <label class="form-check-label" for="beef">
            С говядиной
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" id="sausage" value="sausage" name="list_of_types" style="background-color: #f7b585;">
          <label class="form-check-label" for="sausage">
            С колбасой
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" id="vegetarian" value="vegetarian" name="list_of_types" style="background-color: #f7b585;">
          <label class="form-check-label" for="vegetarian">
            Вегетарианская
          </label>
        </div>
        <br>
        <button type="submit" class="btn btn-danger">Отфильтровать</button>
        <button type="submit" class="btn btn-danger">Сбросить фильтрацию</button>
    </form>
    </div>
  </div>
</div>
<div class="row mt-2">
  <br>
  {% if request.user.is_staff %}
  <a href="{% url 'creation' %}" class="btn btn-danger">+ Добавить позицию</a>
  {% endif %}
  <br>
</div>
<br>
<div>
{% if active_filter %}
<h2>Ваши активные фильтры: {{active_filter}} </h2>
{% else %}
<h2>Вся пицца сейчас показана без фильтров</h2>
{% endif %}
</div>
<div class="row mt-4">
  <div class="col">
    {% if pizzas %}
    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for pizza in pizzas %}
      <div class="col">
        <div class="card h-100">
          <img src="{{ pizza.image.url }}" class="image card-img-top" alt="pizza">
          <div class="card-body">
            <h5 class="card-title">{{ pizza.name }}</h5>
            <p class="card-text"> {{ pizza.description }} </p>
          </div>
          <div class="card-footer">
            <p><b>Цена:</b> {{ pizza.price }}</p>
            <button class="btn btn-danger add-btn float-right update-cart" data-pizza={{pizza.id}} data-action="add">В
              корзину
            </button>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% else %}
    <h2>На данный момент страница с ассортиментом не оформлена. Просим прощения за неудобства!</h2>
    {% endif %}
  </div>
</div>
{% endblock%}
