{% extends 'base/base.html' %}


{% block content %}
<div class="row mt-5">
  <div class="col">
    <h1>Много-много вкуснейшей пиццы нашего производства!</h1>
    <br>
      <h3>- Посмотрите весь наш ассортимент</h3>
      <h3>- Закажите пиццу на дом!</h3>
      <h3>- Узнайте больше о нашем производстве</h3>
  </div>
    <div class="col">
     <img src="https://cdnn21.img.ria.ru/images/98976/61/989766135_0:100:2000:1233_1920x0_80_0_0_4a3e7af4d4ab43307a68343c059cc57d.jpg" class="card-img" alt="pizza">
  </div>
</div>
{% endblock %}
